* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(211, 211, 211, 0.459);
}

header {
  margin-bottom: 2em;
  padding: 1em 0;
  text-align: center;
}

main {
  display: grid;
  justify-content: center;
  flex-grow: 1;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  grid-template-rows: max-content auto;
  grid-template-columns: 1fr auto;
  gap: 1em;
  grid-template-areas:
    "header"
    "main"
    "aside";
}

.header {
  padding: 1em;
  grid-area: header;
  background-color: red;
}

.nav-link {
  display: inline-block;
  text-align: center;
  padding: 0.2em;
  padding: 0.5em;
  background-color: green;
  width: 100%;
  margin-bottom: 2em;
}

.container {
  grid-area: main;
  background-color: salmon;
  /* width: 60%; */
  /* margin-right: 2em; */
  padding: 1em;
}

aside {
  grid-area: aside;
  /* width: 15%; */
  padding: 1em;
  background-color: aquamarine;
}

footer {
  border-top: 1px solid #000;
  grid-area: footer;
  display: flex;
  padding: 1.5em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0e5cc;
  font-size: 14px;
}

@media only screen and (min-width: 460px) {
  main {
    width: 80%;
    grid-template-rows: max-content auto;
    grid-template-columns: 1fr auto;
    gap: 1em;
    grid-template-areas:
      "header header header aside"
      "main main main aside";
  }
}

@media only screen and (min-width: 960px) {
  main {
    min-width: 960px;
    grid-template-rows: max-content auto;
    grid-template-columns: auto 1fr auto;
    gap: 1em;
    grid-template-areas: "header main aside";
  }
}
