* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* .wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header header header header"
  "aside main main main"
  "footer footer footer footer";
  grid-template-rows: max-content auto max-content;
  flex-direction: column;
  background-color: salmon;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(211, 211, 211, 0.459);
}

header {
  margin-bottom: 2em;
  padding: 1em 0;
  text-align: center;
}

main {
  display: grid;
  justify-content: center;
  flex-grow: 1;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  grid-template-rows: max-content auto;
  grid-template-columns: 1fr auto;
  gap: 1em;
  grid-template-areas:
    "header"
    "aside"
    "main";
}

.header {
  padding: 2em;
  grid-area: header;
  background-color: red;
}

.container {
  grid-area: main;
  background-color: salmon;
  /* width: 60%; */
  /* margin-right: 2em; */
  padding: 2em;
}

aside {
  grid-area: aside;
  /* width: 15%; */
  padding: 2em;
  background-color: aquamarine;
}

footer {
  border-top: 1px solid #000;
  grid-area: footer;
  display: flex;
  padding: 1.5em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0e5cc;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  main {
    width: 768px;
    grid-template-rows: max-content auto;
    grid-template-columns: 1fr auto;
    gap: 1em;
    grid-template-areas:
      "header header header aside"
      "main main main aside";
  }
}
